/* create mixins for reusable code such as breakpoints*/

@mixin colorize($color){
  background-color: $color;
  
  &:hover{
    background-color: darken($color,8%);
  }
}

@mixin variants(){

  &[data-variant="primary"]{
    @include colorize(green);
    color: white;
  }

  &[data-variant="secondary"]{
    @include colorize(rgb(127, 161, 127));
    color: white;
  }

  &[data-variant="ghost"]{
    @include colorize(white);
    border:1px solid green;
    color: green;
  }

  &[data-variant="inactive"]{
    @include colorize(#ddd);
    color: #888;
    cursor: not-allowed;
  }

  &[data-variant="delete"]{
    @include colorize(#eefaee);
    border:none;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    padding:0;
    margin-left:1rem;
    font-size:0.8rem;
    color: red;
  }

  &[data-variant="transparent"]{
    @include colorize(transparent);
    color: black;
    height:3rem;
    width: 3rem;
    padding:0.8rem;
    border:none;
    box-shadow: none;
    margin:0;

    &:hover{
      box-shadow: none;
    }
  }
}