$primary: green;
$secondary: rgb(13, 172, 13);
$tertiary: rgb(238, 250, 238);

$contrast-text: #fff;
$text: #000;

$inactive: #888;
$inactive-bg: #ddd;

$error: red;
$error-bg: rgb(252, 217, 217);

$background: #FFF;
$modal-fade: rgba(0,0,0,0.5);