.score-input{
    background-color:var(--bg-color);
    min-width: 3rem;
    width:50%;
    height: 2rem;
    margin: 1rem 0rem;
    color: var(--green2);
    text-align: center;
    font-size: 1.2rem;
    box-sizing: border-box;
    border-radius: 10px;
}
