.logo__image{
    width:100%;
    filter: brightness(0%) invert(1);
    margin-top:-3rem;
}

.logo__title{
    font-family:  Helvetica, sans-serif;
    text-align: center;
    margin-top: -5rem;
}

.logo__title--tile{
    display:inline-block;
    background-color: var(--scrabble-tile);
    height:1.5rem;
    width:1.5rem;
    line-height:1.5rem;
    border-radius: 5px;
    color: var(--scrabble-tile-text);
    font-size:0.9rem;
    box-shadow: inset -3px -3px 1px #BB9469;
    box-sizing: border-box;
    padding-left:0.2rem;
    margin: 0 0.05rem;
}

.logo__title--tile::after{
    content:"1";
    position: relative;
    top:0.3rem;
    font-size:0.6rem;
    margin:0;
    padding:0;
}

.logo__title--tile:nth-child(2):after,
.logo__title--tile:last-child:after{
    content:"2";
}

.logo__title--tile:nth-child(6):after{
    content:"3";
}

.logo__title--tile:nth-child(even){
    transform: rotate(10deg);
}