@import "../../sass/variables";
@import "../../sass/mixins";

.modal{
  background-color: $background;
  border-radius: 12px;
  box-sizing: border-box;
  max-height: 80vh;
  overflow: hidden auto;
  padding: 1.5rem;
  width:100%;

  @include flex(flex-start,center,column);
  
  &__wrapper{
    background-color: $modal-fade;
    box-sizing: border-box;
    height: 100vh;
    left:0;
    padding:2rem;
    position: absolute;
    top:0;
    width:100%;

    @include flex(center);
  }

  & > button{
   align-self: flex-end;
  }
}