.playerScore-wrapper{
  min-width: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.playerScore-wrapper h2{
  color:var(--green2);
  margin: 0;
  border-bottom: 1px solid var(--green4);
  width:100%;
  text-align: center;

}
.playerScore-wrapper p{
  color:var(--green2);
  font-weight: 700;
  margin: 0.5rem 0;
  animation: scoreMove var(--moving-time) ease-in-out forwards;

}
.playerScore-wrapper:not(:last-child){
  border-right: 1px solid var(--green4);
}

.playerScore__score-area{
  width:100%;
  height:10rem;
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0rem 0.5rem;
  border-bottom: 1px solid var(--green4);
}


