.search-result{
    margin-bottom: 1rem;
}
.search-result h2{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: var(--scrabble-tile-text)
}

.search-result h3{
    font-style: italic;
    letter-spacing: 1px;
    color: var(--scrabble-tile-text)

}

.search-result ol {
    list-style: decimal;
    box-sizing: border-box;
    padding-left:1rem;
    margin: 1rem 0;
    color: var(--scrabble-tile-text)
}

.search-result li{
    margin:1rem 0;
}