.scoreboard__table{
    width: 100%;
    border-collapse: collapse;
    height:30vh;
    overflow:hidden;
}

.scoreboard__table th,td{
    max-width: 50%;
    min-width: 25%;
    text-align:center;
    height: 2rem;
    line-height: 2rem;
    box-sizing:border-box;
    padding: 0 0.5rem;

}
.scoreboard__table tr{
    height:3rem;
}

.scoreboard__table th:not(:last-child),td:not(:last-child){
    border-right: 2px solid #FFF;
}

.scoreboard__table th{
    border-bottom: 2px solid #FFF;
}
.scoreboard__table th>span{
    display:block;
    min-width: 3.5rem;
    height: 100%;
    padding: 0.1rem;
}

.scoreboard__table thead{
    display: block;
    height:3rem;
    width:100%;
}
.scoreboard__table tbody{
    display:block;
    height:40vh;
    overflow: scroll;
    width:100%;
}

.scoreboard__table-total{
    border-right:none !important; 
    border-top: 2px solid #FFF;
}