.home{
    box-sizing: border-box;
    margin:1rem 0;
    height: calc(100vh - 11rem);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    animation: show var(--showing-time) ease-in-out forwards;
}

